/* Buttons */
.btn {
  font-family: RobotoCondensed;
  font-weight: bold;
  font-size: 2.1rem;

  border: 0.4rem solid var(--black);
  padding: 1.85rem 4.25rem;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--black);
  color: var(--white);
}

/* Line behind Text */
.background span {
  position: relative;
  z-index: 1;
  line-height: inherit;
}
.background span:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 102%;
  height: 3.5rem;
  left: 0;
  bottom: 1rem;

  background-color: var(--yellow);
}

/* Tariff Card */
.card {
  position: relative;
  z-index: 1;
  width: 47.8rem;
  border: 0.4rem solid var(--black);
  padding: 0.7rem 4rem 2.8rem 4rem;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.card p {
  font-family: 'SourceSansPro';
}
.card__headline {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  min-height: 15rem;
  text-align: center;
}
.card__headline h3 {
  font-size: 4.6rem;
  line-height: 4.4rem;
}
.card__headline p {
  font-size: 1.8rem;
  line-height: 3.6rem;
}
.card__underline {
  width: 100%;
  height: 0.4rem;
  background-color: var(--black);
}
.card__price {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 14rem;
}
.card__price h4 {
  font-size: 2.4rem;
  text-transform: uppercase;
  width: fit-content;
}
.card__price h4 span {
  font-size: 6rem;
  font-weight: bold;
  line-height: 3.6rem;
}
.card__price p {
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 3.6rem;
}
.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.card__list h5 {
  font-size: 2.6rem;
  line-height: 4.4rem;
  font-weight: bold;
}
.check__list {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list__item {
  display: flex;
  align-items: center;
  width: 100%;
}
.list__item svg {
  width: 2.5rem;
}
.list__item p {
  width: 100%;
  max-width: 32rem;
  font-size: 1.8rem;
  padding: 0.75rem;
  border-bottom: 1px solid var(--black);
}
.list__item:nth-last-child(1) p {
  border: none;
}
.list__item .checked__icon {
  fill: var(--cyan);
  height: 1.8rem;
  margin-right: 1.6rem;
}

.card__action {
  width: 100%;
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__action .extraText {
  width: inherit;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;
  max-width: 18rem;
  margin-bottom: 3rem;
}

.card__action .btn {
  width: inherit;
  max-width: 30rem;
}

/* CALL ACTION MODAL WINDOW */
.call-action {
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: 999;
  padding: 0;
  overflow: hidden;
}
.call-action.show {
  padding: 12rem 0 0 12rem;
  width: auto;
  height: auto;
}
.call-action__bg {
  content: '';
  position: absolute;
  width: 10rem;
  height: 10rem;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: black;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.call-action__bg.move {
  width: 100%;
  height: 100%;
}
.call-action__callBtn {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  text-align: center;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.call-action__form {
  position: relative;
  z-index: -1;
  width: 60rem;
  height: 60rem;
  color: var(--white);
  flex-direction: column;

  transform: translateX(200%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.call-action__form.show {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
  transition-delay: 0.4s;
}
.call-action__closeBtn {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1000;
  color: var(--black);
  cursor: pointer;
}
.call-action__title {
  position: relative;
  z-index: 1;
  font-size: 6rem;
  line-height: 7.2rem;
  color: white;
  width: fit-content;
  text-transform: initial;
  border-bottom: 1px solid white;
  margin-bottom: 9rem;
}

.callMe-buttons {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 9rem;
}

.callMe__btn {
  font-size: 2.4rem;
  text-align: center;

  width: 100%;
  padding: 1.2rem 2rem;
  max-width: 43.3rem;
  font-weight: bold;
  background-color: var(--white);
  color: var(--black);
  border: none;
  border-radius: 2rem;
  margin-bottom: 2.7rem;
  transition: background-color 0.4s ease-in-out;
}
.callMe__btn:hover {
  background-color: var(--yellow);
}

.callMe__info {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 43.3rem;
}
.callMe__info-map {
  border-radius: 1rem;
  overflow: hidden;

  width: 20rem;
  height: 12rem;
}
.callMe__info-contact {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 2rem;
  line-height: 2.3rem;
}
.callMe__info-contact > * + * {
  margin-top: 2rem;
}
.callMe__info-contact ul li {
  font-weight: normal;
}
