body {
  background-color: var(--black);
}
main {
  background-color: var(--white);
  border-radius: 146px 146px 82px 82px;
  margin-top: 2.5rem;
  overflow: hidden;
}
img {
  width: 100%;
  display: block;
}
