.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1000;
}

.header__wrap {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--black);
}
.header__navbar {
  padding-top: 4rem;
  display: flex;
  align-items: flex-end;
}
.header__navbar > * + * {
  margin-left: 4.4rem;
}
.header__navbar a {
  font-size: 2.4rem;
  font-family: 'RobotoCondensed';
  font-weight: bold;

  padding: 1rem 1.3rem 2rem 1.3rem;
  border-radius: 1rem 1rem 0 0;
  transition: background-color 0.4s ease-in-out;
}
.header__navbar a:hover {
  background-color: var(--yellow);
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  padding: 0 1.8rem;
  background-color: var(--yellow);
}
