body {
  font-family: 'SourceSansPro', 'Open Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #222;
}

h1 {
  font-family: 'Anton';
  font-weight: bold;
  font-size: 10rem;
  line-height: 11.4rem;
}

h2 {
  font-family: 'RobotoCondensed';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 7.2rem;
  line-height: 8.6rem;
}

h3 {
  font-family: 'SourceSansPro';
  font-weight: bold;
}
h4 {
  font-family: 'SourceSansPro';
  font-weight: normal;
}
h5 {
  font-family: 'SourceSansPro';
  font-weight: bold;
}
