.banner {
  position: relative;
  z-index: 1;
  background-image: url(../../img/banner-slogan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__transition-top,
.banner__transition-bottom {
  position: absolute;
  width: 100%;
  left: 0;
}
.banner__transition-top {
  top: -7.5rem;
}
.banner__transition-bottom {
  bottom: -7.5rem;
}
.banner__slogan {
  font-size: 12rem;
  line-height: 14.4rem;
  max-width: 88rem;
  text-align: center;
  margin: 0 auto;
  color: var(--white);
  padding: 25rem 0 20rem 0;
}
