.check {
  position: relative;
  padding: 6.5rem 0 15rem 0;
}
.check .list__item p {
  border: none;
  max-width: 100%;
}
.check-wrap {
  display: flex;
  flex-wrap: wrap;
}
.check__info {
  position: relative;
  z-index: 2;
  margin-left: 15rem;
}
.check__info > img {
  width: 10rem;
  margin-bottom: 3rem;
}
.check__info h3 {
  font-size: 2.4rem;
  line-height: 3rem;
}

/* GRAPHIC */
.check__graphic {
  position: absolute;
  z-index: 1;
  width: 75rem;
  height: 75rem;
  right: 0;
  top: 0;
}

.hexagon {
  position: absolute;
  width: 75rem;
  height: 75rem;
  background-color: var(--yellow);

  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.hex-image {
  background-image: url(../../img/run.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  right: 4rem;
}
.hex-back {
  z-index: 1;
  top: 5rem;
  left: 5rem;
}

.hex-small-first,
.hex-small-second {
  position: absolute;
  transform: rotate(90deg);
}

.hex-small-first {
  z-index: 3;
  top: -6rem;
  right: 14rem;

  width: 18rem;
}
.hex-small-second {
  z-index: 2;
  width: 41rem;
  bottom: -16rem;
  right: -4rem;
}
