.game {
  position: relative;
  z-index: 0;
  background: url(../../img/banner-slogan.jpg);
  background-size: cover;
  color: var(--white);
}
.game::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.game .banner__transition-top {
  z-index: 2;
}
.game__content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 12.5rem 0 7rem 0;
}
.game__info {
  flex: 0 0 50%;
  max-width: 60rem;
}
.game__info h2 {
  font-size: 14rem;
  line-height: 13rem;
  text-transform: initial;
  margin-bottom: 1rem;
}
.game__info p {
  font-size: 4.5rem;
  line-height: 5.5rem;
  text-shadow: 0px 0px 11px #f7f36fba;
}

.game__wheel {
  flex: 0 0 50%;
}
.game__wheel-graphic {
  background-color: pink;
  border-radius: 50%;
  width: 70rem;
  height: 70rem;
}

.game__question {
  color: var(--black);
  background-color: var(--yellow);

  position: absolute;
  z-index: 3;
  right: 0;
  bottom: -25%;
  padding: 2.8rem 6.7rem 15rem 5.8rem;
  width: 95.8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 74%);
}
.game__question-title {
  font-size: 6.4rem;
  font-weight: bold;
  margin-bottom: 7rem;
}

.game__question-profit {
  font-size: 3.6rem;
  line-height: 4.3rem;
  max-width: 67rem;
}
.game__question-profit span {
  display: block;
}
.game__question-profit .profit--title {
  font-weight: bold;
  margin-bottom: 4.3rem;
}
