.hero {
  position: relative;
  padding: 27.5rem 0 50rem 0;
  overflow: hidden;
}
.hero__content {
  position: relative;
  width: 100rem;
  z-index: 2;
}
.hero__content h1 {
  max-width: 104rem;
}

.hero__line {
  height: 1px;
  border: 1px solid var(--black);
  max-width: 55rem;

  margin-top: 2rem;
}
.hero__contentText {
  margin: 4rem 0;
  max-width: 66rem;
}
.hero__contentText > * + * {
  margin-top: 4rem;
}
.hero__contentText p {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

/* gravik */

.hero__graphic img {
  position: absolute;
}

.ellipse {
  top: 44.2rem;
  left: -28rem;
  width: auto;
  z-index: 1;
}
.wave {
  z-index: 2;
  left: 0;
  bottom: 0;
}
.arm {
  position: absolute;
  width: 72.2rem;
  right: -0.5rem;
  top: 13rem;
}
.arm-bg {
  position: absolute;
  top: -2rem;
  left: 2rem;
  fill: var(--yellow);
}

/* CALL ACTION POPUP   styles in components!*/

.call-action {
  right: 5%;
  bottom: 35%;
}
