.start {
  padding: 30rem 0 22.8rem 0;
}
.start-wrap {
  display: flex;
  align-items: flex-start;
}

/* LEFT SIDE */
.start__images {
  /* flex: 0 0 45%; */
  display: flex;
}
.start__images > * + * {
  margin-left: 7.2rem;
}
.start__image {
  width: 31rem;
  position: relative;
}
/* image possition */
.start__image:nth-child(1) {
  top: -10rem;
}
.start__image:nth-child(2) {
  top: 15rem;
}

.start__image img {
  position: relative;
  z-index: 1;
}
.start__icon {
  position: absolute;
  z-index: 2;
  width: 12.8rem;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 2rem;
}
.start__icon img {
  height: 10rem;
}

.start__icon:after {
  content: '';
  position: absolute;
  width: 12rem;
  height: 12rem;
  z-index: 0;

  border-radius: 50%;
  background-color: var(--yellow);
  top: -1rem;
  left: 0;
}
.start__image:after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  border: 0.4rem solid var(--black);

  top: -2rem;
  left: 2rem;
}

.start__info {
  margin-left: 13rem;
}

/* RIGHT SIDE */

.start__info p {
  font-size: 6.2rem;
  line-height: 7.2rem;
  margin: 2rem 0 7rem 0;
}
